html, body {
	margin: 0;
	padding: 0;
}
.container {
	width: 1100px;
	margin: 0 auto;
	max-width: 100%;
}
.big-arrow {
	background: url('./images/big-arrow.png');
	background-width: 100%;
	height: 800px;
	width: 100%;
}
.photo { 
	width: 200px;
	float: left;
	margin: 4px;
}

.intro {
	margin: 0;
	padding: 0;
	width: 100%;	
	height: 550px;
	background: url('./images/intro.jpg');
	background-position:center; 
	background-size: cover;
	padding-top: 250px;
}
.intro .huge {
	width: 220px;
	font-size: 65px;
	color: #ff2b2b;
	margin: 0 auto;
	font-family: "Montserrat";
	font-weight: 700;
}
.intro .copy {
	width: 250px;
	margin: 0 auto;
	border: 3px solid #FFF;
	color: white;
	padding: 20px;
	font-family: "Garamond";
	font-style: italic;
}
.intro .show-me {
	background: #ff2b2b;
	color: white;
	width: 100px;
	margin: 0 auto;
	text-align: center;
	cursor: hand;
	display: block;
	padding: 10px 2px;	
	z-index: 30;
	font-family: "Montserrat";
	font-weight: 700;
}

.photo .inner {
	display: none;
}
.lightbox {
	position: fixed;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
	display: none;

}

.lightbox-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(30, 30, 30, 0.85);
	z-index: 1000;
	display: none;
	
}
.lightbox {
	z-index: 2000;
	opacity: 1;
	color: #FFF;
}
.lightbox .left {
	width: 65%;
	float: left;
}
.lightbox h2 { 
	font-size: 35px;
}
.lightbox .right {
	padding: 5%;
	width: 25%;
	float: left;
}
.lightbox img {
	opacity: 1;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}



.right h2 {
font-family: "Montserrat";
}

.hear-prompt, .say-prompt {
	font-family: "Montserrat";
	font-size: 12px;
	display: inline-block;
	margin: 0;
	padding: 20px 0;
}
.hear, .say {
	display: inline-block;
	font-family: "Montserrat";
	font-size: 14px;
	margin: 0;
	padding: 0;
}